footer {
    position: relative;
    bottom: 0;
    background-color: #4242F1;
}

#FooterContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#LogoAC {
    width: 150px;
    height: auto;
}

#ContactTitle {
    padding-top: 9px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#CelphoneField,
#EmailField {
    display: flex;
    align-items: center;
}

#CelphoneField {
    text-align: left;
}

#TelefoneIcon,
#EmailIcon {
    width: 30px;
    height: 30px;
    padding-right: 15px;
}

#PhoneNumber,
#Email {
    color: #ffffff;
    text-align: center;
    padding-top: 15px;
}

#SocialMediaIcons {
    display: flex;
    justify-content: space-between;
    width: 210px;
    height: auto;
}

#YoutubeIcon,
#FacebookIcon,
#InstagramIcon {
    width: 50px;
    height: auto;
}

#LogoAC:hover,
#YoutubeIcon:hover,
#FacebookIcon:hover,
#InstagramIcon:hover {
    filter: brightness(0.1);
}
